<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Страница не найдена</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <link rel="stylesheet" href="assets/error.css">
    <script src="assets/script.js"></script>
</head>
<body>
<div class="blur-background"></div>
<div class="container">
    <div class="error-container">
        <h1 class="error-code">404</h1>
        <h2 class="error-message">Страница не найдена</h2>
        <p class="error-description">Кажется, вы забрели не туда. Давайте вернемся на главную страницу.</p>
        <button class="link" onclick="window.location.href='/'">На главную</button>
    </div>
</div>
<div class="footer">
    Master of the Digital Realm <span><%=name%></span>
</div>
</body>
</html>